@tailwind base;
@tailwind components;
@tailwind utilities;

/*!
 * minky Admin
 * ================================*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Niconne);

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #009688;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}
/*----- Top Navigation Bar ----- */

.transition-background {
  -webkit-transition: background-color 0.3s ease; /* Safari */
  -o-transition: background-color 0.3s ease; /* Older Opera */
  transition: background-color 0.3s ease; /* Standard */
}
.app-nav__item:hover,
.app-nav__item:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.app-notification__item {
  @apply flex px-[20px] py-[8px] border-b border-[#ddd] transition-colors duration-300 ease-in-out hover:bg-[#e0e0e0] focus:bg-[#e0e0e0];
}
.app-menu__item:hover,
.app-menu__item:focus,
.app-menu__item.active {
  background: #0d1214;
  border-left-color: #009688;
  text-decoration: none;
  color: #fff;
}
.app-header {
  @apply fixed left-0 right-0 top-0 w-full flex bg-teal-700 z-50 pr-4 md:pr-[30px];
}
@layer utilities {
  .app-notification__item {
    @apply flex px-[20px] py-[8px] border-b border-[#ddd] transition-colors duration-300 ease-in-out hover:bg-[#e0e0e0] focus:bg-[#e0e0e0];
  }
}

@layer components {
  .app-notification__content {
    @apply max-h-[220px] overflow-y-auto;
  }
  .app-notification__item {
     flex px-[20px] py-[8px] border-b border-[#ddd] transition-colors duration-300 ease-in-out hover:bg-[#e0e0e0] focus:bg-[#e0e0e0]";
  }
 
  .app-header {
    @apply fixed left-0 right-0 top-0 w-full flex bg-teal-700 z-50 pr-4 md:pr-[30px];
  }
}
 
